* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 50vh;
  width: 100%;
  background-color: #e8e8e8;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  height: auto;
  width: 50%;
  background-color: white;
}

.to-do-header,
.todo-list,
.to-do-footer {
  list-style: none;
}

.to-do-header,
.todo-list {
  height: 100%;
  width: 100%;
}

.to-do-header li,
.todo-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c0c0c0;
  padding: 10px;
  line-height: 2em;
}

.to-do-header li:nth-child(2) {
  color: red;
}

.to-do-header input {
  width: 95%;
  border: none;
  font-size: 16px;
  /* height: inherit; */
  line-height: 2em;
}

input::placeholder {
  font-style: italic;
  font-size: 18px;
}

input:focus {
  outline: none;
}

.todo-list input {
  width: 16px;
  height: 16px;
  margin: 0 10px;
}

.completed:checked + span {
  text-decoration: line-through;
}

.fa-ellipsis-vertical {
  margin-right: 6px;
  cursor: move;
}

.todo-list span:nth-child(1) {
  margin-left: -8px;
}

.fa-plus,
.fa-arrows-rotate,
.fa-ellipsis-vertical,
.fa-trash-can {
  cursor: pointer;
  color: #a9a9a9;
}

.fa-plus:hover,
.fa-arrows-rotate:hover,
.fa-ellipsis-vertical:hover,
.fa-trash-can:hover {
  color: black;
}

.hidden {
  display: none;
}

#counter {
  /*   height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 55%;
    display: inline-block;
    padding: 5px; */
    font-size: 12px;
    padding: 2px;
}

.counter::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.counter:hover{
  visibility: visible;
}

.to-do-footer {
  font-size: 18px;
  padding: 20px;
  background-color: #a9a9a977;
  width: 100%;
  text-align: center;
}

.to-do-footer li:hover {
  font-size: 19px;
  text-decoration: underline;
  cursor: pointer;
}

span#spanuj {
  width: 95%;
  display: flex;
  align-items: center;
}

span#desc {
  width: 95%;
  display: flex;
  align-items: center;
  line-height: 2em;
  font-size: 16px;
}

#task-counter {
  color: red;
}

.edit-mode {
  background-color: rgba(209, 209, 20, 0.103);
}

[contenteditable] {
  outline: 0 solid transparent;
}
